* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* line-height: 1.4; */
  max-width: 800px;
  margin: 0 auto;
  padding: 0 16px;
}

a {
  color: #333;
  text-decoration: none;
}

h1 {
  color: #26a69a;
  font-size: 40px;
  margin: 10px 0;
}

/* Container for signup- and login-elements */
.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.navBarList {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  align-items: center;

}

.navBarItem {
  margin: 10px 20px;
  color: red;
}
/* ---------------------------------------- */

.pageContentContainer {
  margin-top: 50px;
}

.taskListing {
  height: 350px;
  /* width: 730px; */
  overflow: auto;
}

.taskItem{
  position: relative;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  padding: 15px;
  border-bottom: 3px solid #80cbc4;
  /* width: 700px; */
  transition-duration: 0.3s;
}

.checkIconContainer {
  display: flex;
  align-items: center;
  height: 35px;
  width: 50px;
  margin-left: 5px;
}

.desc {
  width: 550px;
  display: block;
  font-size: 16px;
  padding-left: 5px;
}

.edDelButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 55px;
}

.positionRight {
  position: absolute;
  right: 15px;
}

.savCanButtons {
  position: absolute;
  right: 5px;
  display: flex;
  justify-content: space-between;
  width: 170px;
}

.clickableItem {
  font-size: 20px;
  color: #9e9e9e;
  cursor: pointer;
}

.clickableItem:hover {
  color: #26a69a;
}

.clickableItem.upd:hover {
  color: #9e9e9e;
}

.fa-check {
  display: block;
  font-size: 30px;
  color: #26a69a;
}

.fa-square {
  display: block;
  font-size: 20px;
  color: #9e9e9e;
}

.addForm {
  width: 255px;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 40px 0;
  display: block;
}

input {
  font-size: 14px;
  color: #26a69a;
  border: 1px solid #9e9e9e;
  height: 30.8px;
  padding: 5px;
}

::placeholder {
  color: #424242;
}

.inpButContainer {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

#submit, #updateFo, #signup, #cancelSignLog {
  font-size: 14px;
  background-color: white;
  color: #26a69a;
  border: 2px solid #26a69a;
  padding: 5px 20px;
  transition-duration: 0.5s;
}

#submit:hover, #updateFo:hover, #signup:hover, #cancelSignLog:hover {
  background-color: #26a69a;
  color: white;
}

.btn {
  font-size: 14px;
  background-color: white;
  color: #26a69a;
  border: 2px solid #26a69a;
  padding: 5px 20px;
  transition-duration: 0.5s;
}

.btn:hover {
  background-color: #26a69a;
  color: white;
}

.btnFilterActive {
  background-color: #26a69a;
  color: white;
}

.disabledButton {
  font-size: 14px;
  background-color: #9e9e9e;
  color: white;
  border: 2px solid #9e9e9e;
  padding: 5px 20px;
}

#save, #cancel {
  font-size: 12px;
  height: 30px;
  width: 80px;
  background-color: #9e9e9e;
  color: white;
  border: 2px solid #9e9e9e;
  padding: 5px 20px;
  cursor: pointer;
  transition-duration: 0.5s;
}

#save:hover, #cancel:hover {
  background-color: #26a69a;
  color: white;
  border: 2px solid #26a69a;
}

/* ---------------------------------------- */
/* Container for signup- and login-elements */

.signLogcontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
}

.signLogFormContainer{
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  border: 1px solid #9e9e9e;
  border-radius: 5px;
  padding: 10px;
}

.signLogHeader {
  font-size: 24px;
  color: #26a69a;
  font-weight: bold;
}

.signLogInputContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}

.signLogInput {
  margin-top: 15px;
}

.signLogErrorContainer {
  width: 100%;
  margin-top: 10px;
}

.signLogErrorText {
  color: red;
}

.signLogButtonContainer {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-top: 40px;
}

.signLogErrorMsgContainer {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 400px;
  margin-top: 10px;

}
/* ---------------------------------------- */


/* ---------------------------------------- */
/* Container for greeting */

.greetingContainer {
  margin: 10px 0;
}
/* ---------------------------------------- */


/* ---------------------------------------- */
/* Logout */
.logoutText {
  margin-top:  40px;
}
/* ---------------------------------------- */


/* ---------------------------------------- */
/* Profile */
.profileInfoContainer {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #9e9e9e;
  border-radius: 5px;
}

.profileIconContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.profileIconSavCanContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#profileCheck, #profileCross {
  margin-left: 20px;
}

.profileIcon {
  color: #9e9e9e;
  font-size: 18px;
  cursor: pointer;
}

.profileIcon:hover {
  color: #26a69a;
}

.profileInfoItemContainer{
  display: flex;
  flex-direction: row;
  align-items: top;
  margin: 10px 0;
  height: 35px;
}

.profilePicture{
  height: 100px;
}

.changeProfilePicture{
  margin-left: 20px;
}

.selectFile{
  display: none;
}

.profileInfoItemName{
  display: flex;
  align-items: center;
  width: 150px;
}

.passwordChangeCont{
  display: flex;
  flex-direction: column;
  width: 300px;
}

.passwordChangeInpCont {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.passwChangeBtnSucMsg {
  display: flex;
  flex-direction: row;
}

.passwChangeSucMsgCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}

.passwChangeSucMsgIcon {
  color: #26a69a
}

.passwChangeSucMsgText{
  color: #26a69a;
  font-size: 12px;
  margin-top: 3px;
}
/* ---------------------------------------- */


/* ---------------------------------------- */
/* Pagination */

.paginationContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.paginationBarContainer {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin-top: 20px;
  width: 40%;
  color: #9e9e9e;
  font-size: 14px;
  /* border: 1px solid black; */
}

.pagNumber {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8%;
  cursor: pointer;
}

.pagNumber:hover {
  color: #26a69a;
  font-weight: bold;
}

.pagNumberActive {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #26a69a;
  width: 8%;
  /* cursor: pointer; */
  color: #26a69a;
  font-weight: bold;
}
/* ---------------------------------------- */


/* ---------------------------------------- */
/* FilterBar: Task number and filter */

.filterBarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 10px 0;
}

.taskNumContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.taskNumContainerSingle {
  display: flex;
  margin-right: 20px;
}

.taskNumText {
  margin-right: 10px;
}

.filterContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
/* ---------------------------------------- */


/* ---------------------------------------- */
/* FFilterBar: Task number and filter */

.picture {
  height: 100px;
  width: 100px;
  margin-right: 15px;
}
/* ---------------------------------------- */



